
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/Department/Create" method="post">
    <input type="text" name="DeptName" class="form-control" placeholder="DeptName" />
    <input type="submit" value="Add" />

</form>
