
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<head>
    <title>Tausif's Resume</title>
</head>
<body>
    <div class="container">

        <embed src="~/Items/CV.pdf#toolbar=0" type="application/pdf" width="100%" height="600px"/>

    </div>
   
</body>