
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="/Book/Create" method="post">
    <input type="text" name="Name" class="form-control" placeholder="Name" />
    <input type="text" name="Author" class="form-control" placeholder="Author" />
    <input type="text" name="Price" class="form-control" placeholder="Price" />
    <input type="submit" value="Add"/>

</form>

