@model List<EF.Models.Database.Book>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var b in Model)
    {
<tr>
    <td><a href="/Book/Edit/@b.Id">@b.Id</a></td>
    <td>@b.Name</td>
    <td>@b.Auth</td>
    <td>@b.Price</td>
    <td><a class="btn btn-info" href="/Book/Edit/@b.Id">Edit</a></td>
    <td><a class="btn btn-danger" href="/Book/Edit/@b.Id">Edit</a></td>


</tr>
    }
</table>
